doctype html
html(lang="zh-tw")
  head
    title= "portfolio.js"
    meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
    //link(rel="stylesheet" media="all" href="./css/main.css")
    script(src="./lib/pixi.js")
    script(src="./main.js")
  body
    p duh
